/**
 * @FONTS
 *
 * Font Styles:
 * Clash Display Extralight
 * Clash Display Light
 * Clash Display Regular
 * Clash Display Medium
 * Clash Display Semibold
 * Clash Display Bold
 * Mikela Light
 * Mikela Regular
 *
*/

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Mikela";
  src: url("../fonts/Mikela-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Mikela";
  src: url("../fonts/Mikela-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "`";
  src: url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Cairo";
  src: url("../fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
}
